.review{
    background-color: #3A4574;
    padding: 219 0 220px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .review{
        padding: 100px 0 100px 0;
    }
}

@media screen and (max-width: 500px) {
    .review{
        padding: 60px 0 60px 0;
    }
}

@media screen and (max-width: 430px) {
    .review{
        padding: 50px 0 50px 0;
    }
}