.meal__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 88px;
    margin: 0 0 20px 0;
}

@media screen and (max-width: 520px) {
    .meal__title{
        font-size: 30px;
        line-height: 65px;
    }
}

@media screen and (max-width: 400px) {
    .meal__title{
        font-size: 25px;
        line-height: 45px;
    }
}
