.review__block-title{
    margin: 34px auto 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #D3B47F;
}

@media screen and (max-width: 800px) {
    .review__block-title{
        font-size: 25px;
        line-height: 30px;
    }
}