.footer{
    display: flex;
    max-width: 1170px;
    justify-content: space-between;
    margin: 0 auto;
}


@media screen and (max-width: 1241px) {
    .footer{ 
       width: 90%;
    }
}

@media screen and (max-width: 660px) {
    .footer{ 
       flex-direction: column;
       align-items: center;
    }
}
