.news{
    max-width: 1169px;
    margin: 0 auto 90px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1240px) {
    .news{
      max-width: 90%;
      flex-direction: column;
    }
}